<h1></h1>

<!-- Seção de Cabeçalho - Igreja, Status e Data do Pedido -->
<mat-card class="header-section">
   <mat-card-title>Cadastro de Pedidos</mat-card-title>
   <br>
    <form class="form-row-inline">
       <!-- Nome da Igreja -->
       <mat-form-field style="width: 40%;">
          <mat-select placeholder="Selecione a Igreja" [(ngModel)]="pedido.igreja_id" name="igreja_id">
             <mat-option *ngFor="let igreja of igrejas" [value]="igreja.codigo">
                {{ igreja.nome }}
             </mat-option>
          </mat-select>
       </mat-form-field>

       <mat-form-field appearance="fill" style="flex: 1 1 20%;">
         <mat-label>Status</mat-label>
         <mat-select [(ngModel)]="pedido.status" name="status"> <!-- Bind com o pedido.status -->
           <mat-option value="Pendente">Pendente</mat-option>
           <mat-option value="Processando">Processando</mat-option>
           <mat-option value="Entregue">Entregue</mat-option>
         </mat-select>
       </mat-form-field>
       

       <mat-form-field appearance="fill" style="flex: 1 1 20%;">
          <mat-label>Data do Pedido</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Data do Pedido">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
       </mat-form-field>
    </form>

    <!-- Campo Recebedor -->
    <form class="form-row-inline">
        <mat-form-field appearance="fill" style="flex: 0 0 40%; max-width: 40%;">
            <mat-label>Recebedor</mat-label>
            <input matInput placeholder="Nome do Recebedor" [(ngModel)]="pedido.recebedor" name="recebedor">
          </mat-form-field>
    </form>
</mat-card>

<!-- Seção de Itens do Pedido -->
<mat-card class="items-section">
    <form class="form-row-inline">
       <!-- Campo Produto -->
       <mat-form-field appearance="fill" style="flex: 1 1 40%;">
          <mat-label>Produto</mat-label>
          <mat-select [(ngModel)]="produtoSelecionado" name="produtoSelecionado" (selectionChange)="onProdutoSelecionado($event)" placeholder="Nome do Produto">
             <mat-option *ngFor="let produto of produtos" [value]="produto.id">{{produto.nome}}</mat-option>
          </mat-select>
       </mat-form-field>

       <mat-form-field appearance="fill" style="flex: 1 1 15%;">
          <mat-label>Quantidade</mat-label>
          <input matInput type="number" [(ngModel)]="quantidade" name="quantidade" placeholder="Quantidade">
       </mat-form-field>

       <!-- Campo Valor Unitário -->
       <mat-form-field appearance="fill" style="flex: 1 1 20%;">
          <mat-label>Valor Unitário</mat-label>
          <input matInput type="number" [(ngModel)]="valorUnitario" name="valorUnitario" placeholder="Valor Unitário" [value]="valorUnitario | number:'1.2-2'">
       </mat-form-field>

       <!-- Botão Adicionar Item -->
       <button mat-raised-button color="primary" (click)="adicionarItem()">Adicionar</button>
    </form>
</mat-card>

<!-- Tabela de Itens -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Coluna Produto -->
    <ng-container matColumnDef="produto">
       <th mat-header-cell *matHeaderCellDef> Produto </th>
       <td mat-cell *matCellDef="let element"> {{element.produto}} </td>
    </ng-container>

    <!-- Coluna Quantidade -->
    <ng-container matColumnDef="quantidade">
       <th mat-header-cell *matHeaderCellDef> Quantidade </th>
       <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
    </ng-container>

    <!-- Coluna Valor Unitário -->
    <ng-container matColumnDef="valorUnitario">
       <th mat-header-cell *matHeaderCellDef> Valor Unitário </th>
       <td mat-cell *matCellDef="let element"> {{element.valorUnitario | number:'1.2-2'}} </td>
    </ng-container>

    <!-- Coluna Valor Total -->
    <ng-container matColumnDef="valorTotal">
       <th mat-header-cell *matHeaderCellDef> Valor Total </th>
       <td mat-cell *matCellDef="let element"> {{element.valorTotal | number:'1.2-2'}} </td>
    </ng-container>

    <!-- Coluna Ações -->
    <ng-container matColumnDef="acoes">
       <th mat-header-cell *matHeaderCellDef> Ações </th>
       <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editarItem(element)">
             <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="removerItem(element)">
             <mat-icon>delete</mat-icon>
          </button>
       </td>
    </ng-container>

    <!-- Cabeçalho da Tabela -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Linhas da Tabela -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Valor Total do Pedido e Botões -->
<div class="valor-total-e-botoes form-row-inline" style="justify-content: space-between; align-items: center;">
    <!-- Valor Total do Pedido -->
    <h3>Valor Total do pedido: {{valorTotalPedido | number:'1.2-2'}}</h3>

    <!-- Botões de Ação -->
    <div class="button-row">
       <button mat-raised-button color="primary" (click)="finalizarPedido()">Finalizar Pedido</button>
       <button mat-raised-button color="warn" (click)="limparFormulario()">Limpar</button>
    </div>
</div>
