table {
  width: 100%;
  margin-bottom: 16px;
}

mat-card-title {
  text-align: center;
  width: 100%;
}

mat-card-subtitle {
  text-align: right;
  margin-left: auto;
}

.total-sum {
  text-align: right;
  font-size: 1.2em;
  margin-top: 10px;
  font-weight: bold;
}

/* Classe para aplicar fundo cinza apenas na visualização */
.show-bg-on-screen {
  background: rgba(0, 0, 0, 0.1); /* Ajuste a cor conforme necessário */
  padding: 4px; /* Adicione padding se necessário */
}

/* Media query para garantir que o fundo é removido durante a impressão */
@media print {
  .show-bg-on-screen {
    background: none !important;
  }
}
.codigo-cell {
  padding-left: 16px; /* Ajuste o valor do padding conforme necessário */
}
