.mat-header-cell {
  background-color: #438EB9;
  color: white;
}

button {
  margin-bottom: 20px;
}

.search-and-back {
  display: flex;
  justify-content: space-between; /* Garante que o campo e o botão fiquem nos lados opostos */
  align-items: center; /* Alinha verticalmente os elementos */
  margin-bottom: 20px; /* Espaço abaixo do bloco de pesquisa */
}

.mat-form-field {
  width: 75%; /* Campo de pesquisa maior */
}

button {
  margin-left: 10px; /* Espaçamento à esquerda do botão */
}
/* Ajusta o alinhamento dos dados */
.mat-cell,
.mat-header-cell {
  font-size: 15px;
}

/* Alinha a coluna "Codigo" no centro */
.mat-column-id {
  text-align: center;
}

/* Alinha a coluna "Nome" à esquerda */
.mat-column-nome {
  text-align: left;
}

/* Alinha as colunas "Volume", "Código Barras" e "Categoria" no centro */
.mat-column-volume,
.mat-column-codigo_barras,
.mat-column-categoria {
  text-align: center;
}

/* Alinha a coluna "Ações" no centro */
.mat-column-acoes {
  text-align: center;
}
