.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da janela */
    background-color: #f5f5f5; /* Cor de fundo, opcional */
  }
  