.mat-header-cell {
  background-color: #438EB9;
  color: white;
  font-size: 15px;
}

.custom-table {
  width: 100%; /* Faz com que a tabela ocupe toda a largura do card */
}

.form-row {
  margin-bottom: 30px; /* Adiciona margem inferior entre as linhas de formulário */
}

.mat-form-field {
  min-width: 200px; /* Define um tamanho mínimo para os campos */
  margin-right: 30px; /* Adiciona espaçamento à direita de cada campo de formulário */
}

button {
  margin-left: 16px; /* Adiciona espaçamento à esquerda do botão Salvar */
}
