.login-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 150px; /* Ajuste para descer mais a tela de login */
}


.login-container {
  width: 400px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

  
  .form-field {
    margin-bottom: 16px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  