.form-row-inline {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre os elementos */
  }
  
  .full-width {
    width: 100%;
  }
  
  .adicionar-itens {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre os campos e botão de adicionar */
  }
  
  .nota-fiscal-campos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre os campos da nota fiscal */
  }
  .observacao-50 {
    width: 40%;
  }
  .nome-produto-40 {
    width: 40%;
  }
  
  .quantidade-10 {
    width: 10%;
  }
  
  .valor-unitario-15 {
    width: 15%;
  }
  
  .valor-total-15 {
    width: 15%;
  }
  .chave-acesso-40 {
    width: 40%;
  }
  .tabela-itens {
    margin-bottom: 20px; /* Adiciona um espaço entre a tabela e os campos abaixo */
  }
  
  .nota-fiscal-campos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre os campos da nota fiscal */
  }
  