<div class="consulta-pedido">

    <form [formGroup]="form" (ngSubmit)="pesquisar()">
      <div class="pesquisar-numero-nota form-row-inline">
        <mat-form-field>
          <mat-label>Número do Pedido</mat-label>
          <input matInput formControlName="numeroPedido">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Pesquisar</button>
      </div>
    </form>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef style="background-color: #438EB9;  color: white; "> Codigo </th>
    <td mat-cell *matCellDef="let pedido"> {{ pedido.pedido_id }} </td>
  </ng-container>

  <!-- Igreja -->
  <ng-container matColumnDef="igreja">
    <th mat-header-cell *matHeaderCellDef style="background-color: #438EB9;  color: white; "> Igreja </th>
    <td mat-cell *matCellDef="let pedido"> {{ pedido.igreja_nome }} </td>
  </ng-container>

  <!-- Data do Pedido -->
  <ng-container matColumnDef="dataPedido">
    <th mat-header-cell *matHeaderCellDef style="background-color: #438EB9;  color: white; "> Data do Pedido </th>
    <td mat-cell *matCellDef="let pedido"> {{ pedido.data_pedido | date:'dd/MM/yyyy' }} </td>
  </ng-container>

  <!-- Valor Total -->
  <ng-container matColumnDef="valorTotal">
    <th mat-header-cell *matHeaderCellDef style="background-color: #438EB9;  color: white; "> Valor Total </th>
    <td mat-cell *matCellDef="let pedido"> {{ pedido.valor_total | currency:'BRL':'symbol':'1.2-2' }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

 <!-- Paginator -->
 <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>
  <br><br><br>
