.form-row-inline {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre os elementos */
  }
  
  .full-width {
    width: 100%;
  }
  
  .adicionar-itens {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaço entre os campos e botão de adicionar */
  }
  
  .nota-fiscal-campos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre os campos da nota fiscal */
  }
  .observacao-50 {
    width: 40%;
  }
  .nome-produto-40 {
    width: 40%;
  }
  
  .quantidade-10 {
    width: 10%;
  }
  
  .valor-unitario-15 {
    width: 15%;
  }
  
  .valor-total-15 {
    width: 15%;
  }
  .chave-acesso-40 {
    width: 40%;
  }
  .tabela-itens {
    margin-bottom: 20px; /* Adiciona um espaço entre a tabela e os campos abaixo */
  }
  
  .nota-fiscal-campos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre os campos da nota fiscal */
  }
  .mensagem-sucesso {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4caf50;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    z-index: 1000; /* Garantir que a mensagem esteja na frente de outros elementos */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .botoes {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à direita */
    gap: 10px; /* Espaçamento entre os botões */
  }
  .pesquisar-numero-nota {
    display: flex;
    align-items: center;
    gap: 10px; /* Ajuste este valor para reduzir o espaço entre o campo e o botão */
  }
  .linha-separacao {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px; /* Aumenta a espessura da linha */
    background-color: #636161; /* Define uma cor para a linha */
    border: none; /* Remove qualquer borda para evitar conflitos */
  }
  .botao-adicionar-fornecedor {
    margin: 36px 10px 0 -10px;
    padding: 0;
    height: 36px;
    vertical-align: bottom;
  }
  