.form-row-inline {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre os elementos */
  }

  .button-row {
    display: flex;
    justify-content: flex-start;
    gap: 10px; /* Espaço entre os botões */
    margin-top: 20px;
  }

  .valor-total-e-botoes {
    margin-top: 20px;
  }

  .snackbar-custom {
    font-size: 1.2em;
    text-align: center;
  }
  
  .mat-snack-bar-container {
    top: 20px !important; /* Força a posição no topo da tela */
    bottom: auto !important; /* Remove qualquer posição inferior */
  }
  
  .mat-form-field {
    margin-right: 16px;
  }
  
  button {
    margin-left: 16px;
  }
  