/* Botão Sair */
.logout-button {
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 15px;
  border-radius: 3px;
}

.logout-button mat-icon {
  font-size: 24px; /* Ajuste do tamanho do ícone */
  width: 24px;
  height: 24px;
}

.custom-toolbar {
  background-color: #438EB9;
  color: white;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 64px; /* Altura da toolbar */
}

.spacer {
  flex: 1 1 auto;
}

/* Contêiner para nome do usuário e botão Sair */
.user-logout-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre o nome do usuário e o botão */
}

/* Contêiner para usuário e botão de logout */
.user-logout-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7aa3be; /* Fundo azul do contêiner */
 
}

/* Nome do usuário */
.user-container {
  background-color: #7aa3be; /* Fundo do nome do usuário */
  color: white;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
  
  /* O container do sidenav ocupará a altura total da tela menos a altura da toolbar */
  .sidenav-container {
    height: 100vh; /* O sidenav container ocupa a altura total da tela */
    width: 100%; /* Garante que o sidenav-container ocupe toda a largura */
  }
  
  /* Ajustar o conteúdo principal para começar abaixo da toolbar */
  mat-sidenav-content {
    margin-top: 64px; /* Compensar a altura da toolbar */
    padding: 20px;
  }
  
  /* Largura do sidenav e cor de fundo */
  .custom-sidenav {
    width: 300px; /* O sidenav ocupa apenas 250px de largura */
    background-color: #d3d3d3; /* Cor de fundo para o menu lateral */
    margin-top: 64px; /* Encostar na toolbar */
  }
  
  mat-list-item a {
    white-space: normal; /* permite que o texto quebre linha se necessário */
  }

  /* Links no menu lateral */
  a {
    text-decoration: none;
    color: inherit;
  }
  .menu-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px; /* Espaço entre o ícone e o texto */
    vertical-align: middle;
  }
  
  .user-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Espaço entre o ícone e o texto */
  }
  
  .user-icon {
    width: 24px;
    height: 24px;
    color: #fff; /* Ajuste a cor conforme o design */
  }
  