<mat-toolbar color="primary" class="custom-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ pageTitle }}</span>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen">
      <mat-nav-list>
        <mat-list-item *ngFor="let section of menuSections">
          <h3 mat-subheader>{{ section.title }}</h3>
          <a mat-list-item *ngFor="let link of section.links" [routerLink]="link.route">
            {{ link.title }}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <router-outlet></router-outlet> <!-- A área onde os componentes serão renderizados -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  