<!-- Toolbar -->
<mat-toolbar color="primary" class="custom-toolbar">
  <button *ngIf="isAuthenticated && !isLoginRoute()" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ pageTitle }}</span>
  <span class="spacer"></span>
  <button *ngIf="isAuthenticated && !isLoginRoute()" mat-button (click)="logout()" style="margin-right: 16px;">Sair</button>
</mat-toolbar>

<!-- Menu lateral e conteúdo principal -->
<div *ngIf="!isLoginRoute()">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen" class="custom-sidenav">
      <mat-nav-list>
        <!-- Link da Home separado -->
        <mat-list-item>
          <a mat-list-item [routerLink]="homeLink.route">
            <mat-icon>home</mat-icon>
            {{ homeLink.title }}
          </a>
        </mat-list-item>

        <!-- Usar *ngFor para percorrer as seções de menu -->
        <mat-expansion-panel *ngFor="let section of menuSections" style="background-color: #f4f4f7">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ section.title }} <!-- Título da seção -->
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!-- Percorrer os links dentro de cada seção -->
          <mat-list>
            <mat-list-item *ngFor="let link of section.links">
              <a mat-list-item [routerLink]="link.route">
                <mat-icon *ngIf="link.icon" [svgIcon]="link.icon"></mat-icon>
                {{ link.title }}
              </a> <!-- Links dinâmicos -->
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet> <!-- Aqui serão exibidos os componentes -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- Apenas a tela de login -->
<div *ngIf="isLoginRoute()">
  <router-outlet></router-outlet>
</div>
