<mat-card>
  <mat-card-title style="text-align: center;">Relatório de Cadastro de Produtos - CNS</mat-card-title>
  <mat-card-subtitle style="text-align: right; font-size: small;">Data e Hora: {{ dataAtual }}</mat-card-subtitle>
  <mat-card-content>
    <table mat-table [dataSource]="produtos" class="mat-elevation-z8">
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
      </ng-container>

      <!-- Volume Column -->
      <ng-container matColumnDef="volume">
        <th mat-header-cell *matHeaderCellDef> Volume </th>
        <td mat-cell *matCellDef="let produto"> {{produto.volume}} </td>
      </ng-container>

      <!-- Código de Barras Column -->
      <ng-container matColumnDef="codigoBarras">
        <th mat-header-cell *matHeaderCellDef> Código de Barras </th>
        <td mat-cell *matCellDef="let produto"> {{produto.codigo_barras}} </td>
      </ng-container>

      <!-- Fornecedor Column -->
      <ng-container matColumnDef="fornecedor">
        <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
        <td mat-cell *matCellDef="let produto"> {{produto.fornecedor_nome}} </td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let produto"> {{produto.marca}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button mat-raised-button color="primary" (click)="gerarPDF()">Imprimir em PDF</button>
  </mat-card-content>
</mat-card>
