.mat-header-cell {
  background-color: #438EB9;
  color: white;
  font-size: 15px;
}

.custom-table {
  width: 70%; /* Faz com que a tabela ocupe toda a largura do card */
}

.left-align {
  text-align: left; /* Alinha o texto à esquerda */
}

.center-align {
  text-align: center; /* Centraliza o texto */
}

.mat-form-field {
  min-width: 100px; /* Define um tamanho mínimo para os campos */
  margin-right: 32px; /* Aumenta o espaçamento à direita de cada campo de formulário */
}

button {
  margin-left: 16px; /* Adiciona espaçamento à esquerda do botão Salvar */
}

.table-card {
  width: 50%;
  margin: 0; /* Remove todas as margens automáticas */
  /* ou */
  margin-left: 16px; /* Adiciona uma margem esquerda padrão */
}