.custom-table-card {
  width: 40%; /* Define a largura do card */
  margin: 0; /* Remove a centralização */
}

.custom-table {
  width: 100%; /* Faz com que a tabela ocupe toda a largura do card */
}

.text-center {
  text-align: center; /* Centraliza o texto nas colunas */
}

.actions-cell {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente os botões de ação */
  gap: 8px; /* Adiciona espaço entre os botões */
}

.mat-form-field {
  min-width: 200px; /* Define um tamanho mínimo para os campos */
  margin-right: 30px; /* Adiciona espaçamento à direita de cada campo de formulário */
}

button {
  margin-left: 16px; /* Adiciona espaçamento à esquerda do botão Salvar */
}
