<mat-card>
  <mat-card-title class="titulo-relatorio">Relatório Inventário - CNS</mat-card-title>
  <mat-card-content>
    <br><br>
<!-- Filtros -->
<div class="filtros-container" style="display: flex; gap: 16px; align-items: center; flex-wrap: wrap;">
     <!-- Filtro por Data de Início -->
     <mat-form-field appearance="fill" class="filtro-campo">
      <mat-label>Data de Início</mat-label>
      <input matInput [matDatepicker]="inicioPicker" [(ngModel)]="dataInicio" name="dataInicio">
      <mat-datepicker-toggle matSuffix [for]="inicioPicker"></mat-datepicker-toggle>
      <mat-datepicker #inicioPicker></mat-datepicker>
    </mat-form-field>

    <!-- Filtro por Data de Fim -->
    <mat-form-field appearance="fill" class="filtro-campo">
      <mat-label>Data de Fim</mat-label>
      <input matInput [matDatepicker]="fimPicker" [(ngModel)]="dataFim" name="dataFim">
      <mat-datepicker-toggle matSuffix [for]="fimPicker"></mat-datepicker-toggle>
      <mat-datepicker #fimPicker></mat-datepicker>
    </mat-form-field>

        <!-- Botão para Filtrar as datas -->
    <button mat-raised-button color="primary" style="margin-top: 8px;" (click)="filtrarCampos()">Filtrar</button>
    <!-- Botão para Limpar Filtros -->
    <button mat-raised-button color="warn" style="margin-top: 8px; margin-left: 8px;" (click)="limparFiltros()">Limpar</button>
    <!-- Botão para Gerar PDF -->
    <button mat-raised-button color="primary" style="margin-top: 8px;" (click)="gerarRelatorioPDF()">Gerar PDF</button>
  </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="produto">
        <th mat-header-cell *matHeaderCellDef style="background-color: #438EB9; color: white; font-size: 1.1rem;"> Produto </th>
        <td mat-cell *matCellDef="let element"> {{ element.produto_nome }} </td>
      </ng-container>

      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef class="quantidade" style="background-color: #438EB9; color: white; font-size: 1.1rem;"> Quantidade </th>
        <td mat-cell *matCellDef="let element" class="quantidade"> {{ element.quantidade }} </td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef class="data" style="background-color: #438EB9; color: white; font-size: 1.1rem;"> Data </th>
        <td mat-cell *matCellDef="let element" class="data"> {{ element.data_inventario | date: 'short' }} </td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef class="usuario" style="background-color: #438EB9; color: white; font-size: 1.1rem;"> Usuário </th>
        <td mat-cell *matCellDef="let element" class="usuario"> {{ element.usuario }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25,50]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>

  