<div class="dashboard-container">
    <mat-card class="summary-card">
      <mat-card-title>Total de Pedidos</mat-card-title>
      <mat-card-content>
        {{ pedidos.length }}
      </mat-card-content>
    </mat-card>
  
    <mat-card class="summary-card">
      <mat-card-title>Valor Total do Mês</mat-card-title>
      <mat-card-content>
        {{ getValorTotal() | currency }}
      </mat-card-content>
    </mat-card>
  
    <mat-card class="chart-card">
      <mat-card-title>Pedidos por Igreja</mat-card-title>
      <div>
        <canvas baseChart
                [data]="chartData"
                [options]="chartOptions"
                [type]="'bar'">
        </canvas>
      </div>
    </mat-card>
  </div>
  