<div class="dashboard-container">
  <!-- Cards de Resumo -->
  <div class="summary-cards">
    <mat-card class="summary-card">
      <mat-card-title style="color: #fff;">Quantidade de Pedidos</mat-card-title>
      <mat-card-content class="card-value">{{ quantidadePedidos }}</mat-card-content>
    </mat-card>
    <mat-card class="summary-card">
      <mat-card-title style="color: #fff;">Valor Total de Pedidos no mês</mat-card-title>
      <mat-card-content class="card-value">R$ {{ valorTotalPedidos | number: '1.2-2' }}</mat-card-content>
    </mat-card>
  </div>

  <!-- Gráficos -->
  <div class="charts-container">
    <div class="chart">
      <div class="chart-title-bar">
        <h3>Valor dos Pedidos por Igreja</h3>
      </div>
      <canvas id="chartIgreja"></canvas>
    </div>
    <div class="chart">
      <div class="chart-title-bar">
        <h3>Valor Total de Pedidos por Mês</h3>
      </div>
      <canvas id="chartMes"></canvas>
    </div>
  </div>
</div>
