<mat-card-title>Inventario de Produtos</mat-card-title>
<div [formGroup]="inventarioForm" class="header-section" style="margin-bottom: 16px;">
  <mat-form-field appearance="fill" style="width: 30%; margin-right: 16px;">
    <mat-label>Usuário</mat-label>
    <input matInput type="text" formControlName="usuario_id" readonly />
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 15%;">
    <mat-label>Data</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="data" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div [formGroup]="inventarioForm" class="item-section" style="margin-bottom: 16px;">
    <mat-form-field class="form-field" style="width: 50%; margin-right: 16px;">
      <mat-label>Produto</mat-label>
      <input type="text" matInput [matAutocomplete]="auto" formControlName="produto_nome" (input)="filterProdutos()">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onProdutoSelected($event)">
        <mat-option *ngFor="let produto of filteredProdutos" [value]="produto.nome">
          {{ produto.nome }} - {{ produto.volume }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 15%; margin-right: 16px;">
      <mat-label>Quantidade</mat-label>
      <input matInput type="number" formControlName="quantidade" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" (click)="addProduto()" style="margin-top: 24px;">Adicionar</button>
  </div>
  
  <mat-table [dataSource]="inventarios" [trackBy]="trackByFn" class="mat-elevation-z8" style="margin-bottom: 16px;">

  <ng-container matColumnDef="produto">
    <mat-header-cell *matHeaderCellDef> Produto </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.produto_nome }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="quantidade">
    <mat-header-cell *matHeaderCellDef> Quantidade </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.quantidade }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<button mat-raised-button color="primary" type="button" (click)="saveInventario()" style="margin-top: 16px;">Salvar Lote</button>
